[Federation] JWT as default

Looking at the OAuth best practice, I'm finding that OpenID Connect is the only token that requires JSON Web Token (JWT) format. While Access Token & Refresh Token formats are still open as of now. Even due to this it is not mandatory yet. I feel like this should be ensured for all tokens.

- JSON Web Signature (JWS) [RFC 7515](https://www.rfc-editor.org/rfc/rfc7515)
- JSON Web Encryption (JWE) [RFC 7516](https://www.rfc-editor.org/rfc/rfc7516)
- JSON Web Key (JWK) [RFC 7517](https://www.rfc-editor.org/rfc/rfc7517)
- JSON Web Algorithms (JWA) [RFC 7518](https://www.rfc-editor.org/rfc/rfc7518)
- **JSON Web Token (JWT) [RFC 7519](https://www.rfc-editor.org/rfc/rfc7519)**

The .NET library that is the most extensive is [`System.IdentityMode.Tokens.Jwt`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet) from Microsoft and the nuget package can be download from: NuGet

[![Nuget](https://img.shields.io/nuget/v/System.IdentityModel.Tokens.Jwt?label=Latest%20release)](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/)